In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [9]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1378,tt0433383,7000000,54600000,"Good Night, and Good Luck.",David Strathairn|Jeff Daniels|Alex Borstein|Ro...,George Clooney,They took on the Government with nothing but t...,"The story of journalist, Edward R Murrow's sta...",93,Drama|History,Warner Independent Pictures (WIP)|Section Eigh...,9/16/2005,6.4,2005
1547,tt0455857,15000000,66966987,When a Stranger Calls,Camilla Belle|Katie Cassidy|Tommy Flanagan|Bri...,Simon West,"Whatever You Do, Don't Answer The Phone.","Far away from the site of a gruesome murder, a...",87,Horror|Thriller,Davis Entertainment|Screen Gems,2/3/2006,5.4,2006
1500,tt0422295,16800000,2281089,Fur: An Imaginary Portrait of Diane Arbus,Nicole Kidman|Robert Downey Jr.|Ty Burrell|Har...,Steven Shainberg,A love story.,In 1958 New York Diane Arbus is a housewife an...,122,Drama|Mystery|Romance,River Road Entertainment|Edward R. Pressman Fi...,8/30/2006,6.3,2006
223,tt1441395,13300000,5380251,Under the Skin,Scarlett Johansson|KryÅ¡tof HÃ¡dek|Paul Branni...,Jonathan Glazer,A mysterious seductress preys upon the populat...,"Jonathan Glazer's atmospheric, visually arrest...",108,Thriller|Science Fiction|Drama,Scottish Screen|UK Film Council|FilmNation Ent...,3/14/2014,6.0,2014
1513,tt0384793,23000000,38505009,Accepted,Justin Long|Jonah Hill|Blake Lively|Adam Hersc...,Steve Pink,When every college turned them down. . . they ...,A high school slacker who's rejected by every ...,93,Comedy,Universal Pictures|Shady Acres Entertainment,8/18/2006,6.1,2006

In [10]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [12]:
data['profit'] = data['revenue'] - data['budget']

release_mount = data.release_date.apply(lambda x:x.split('/')[0])
data['release_mount'] = release_mount

answers = {} # создадим словарь для ответов

genres_count = {}

actor_revenue = {}

def get_genres_count(genres_item):
    genres_list = genres_item.split('|')
    
    for genre in genres_list:
        if genre in genres_count:
            genres_count[genre] += 1
        else:
            genres_count[genre] = 1
            
def generation_steam(cast):
    cast_list = []
    for i in range(len(cast)):
        for j in range(len(cast)-1):
            if cast[i] != cast[j+1]:
                cast_list.append((cast[i], cast[j+1]))
    return cast_list
        

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [13]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [14]:
# тут пишем ваш код для решения данного вопроса:
# Biggest budget movie
movie_max_budget = data[data['budget'] == (data['budget'].max())]
movie_max_budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mount
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

ВАРИАНТ 2

In [76]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [43]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [44]:
# Longest film
movie_longest = data[data['runtime']==data['runtime'].max()]
movie_longest

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mount
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [45]:
# Shortest film
answers['3'] = '3. Winnie the Pooh (tt1449283)'
movie_shortest = data[data['runtime']==data['runtime'].min()]
movie_shortest

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mount
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [46]:
# Average length of films
answers['4'] = '4. 110'
average_duration = data['runtime'].mean()
average_duration

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [47]:
# Median duration of films
answers['5'] = '5. 107'
median_value = data['runtime'].median()
median_value

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [48]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# The most profitable film
answers['6'] = '6. Avatar (tt0499549)'
movie_profit_max = data[data['profit']==data['profit'].max()]
movie_profit_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mount
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [49]:
# The film is the most unprofitable
answers['7'] = '7.The Lone Ranger (tt1210819)'
movie_profit_min = data[data['profit']==data['profit'].min()]
movie_profit_min

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mount
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [50]:
# Movies from a dataset with a volume of fees above budget
answers['8'] = '8. 1478'
movie_count = data[data['revenue']>data['budget']]
len(movie_count)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [51]:
# Highest grossing film in 2008
answers['9'] = '9. The Dark Knight (tt0468569)'
movies_2008 = data[data['release_year']==2008]
highest_grossing_film = movies_2008[movies_2008['revenue']==movies_2008['revenue'].max()]
highest_grossing_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mount
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [52]:
# The most unprofitable film from 2012 to 2014
answers['10'] = '10. The Lone Ranger (tt1210819)'
movies_2012_2014 = data[(data['release_year']>=2012)&(data['release_year']<=2014)]
most_unprofitable_film = movies_2012_2014[movies_2012_2014['profit']==movies_2012_2014['profit'].min()]
most_unprofitable_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mount
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [53]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# The most popular genre of films
answers['11'] = '11. Drama'
genres_count = {}
data.genres.apply(get_genres_count)
df_genres = pd.DataFrame({'genres': list(genres_count.keys()), 'counts': list(genres_count.values())}, columns=['genres', 'counts'])
df_genres[df_genres['counts']==df_genres['counts'].max()]

  genres  counts
7  Drama     782

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [54]:
# Most lucrative film genre
answers['12'] = '12. Drama'
genres_count = {}
profitable_films = data[data['profit'] > 0]
profitable_films_genres_count = profitable_films.genres.apply(get_genres_count)
df_profitable_films_genres = pd.DataFrame({'genres': list(genres_count.keys()), 'counts': list(genres_count.values())}, columns=['genres', 'counts'])
df_profitable_films_genres[df_profitable_films_genres['counts']==df_profitable_films_genres['counts'].max()]

  genres  counts
7  Drama     560

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [55]:
# The director with the highest total box office receipts
answers['13'] = '13. Peter Jackson'
data.groupby(['director'])[['revenue']].sum().sort_values(['revenue'],ascending=False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [56]:
# Director with the most Action films
answers['14'] = '14. Robert Rodriguez'
movies_genre_actoin = data.copy()
movies_genre_actoin = movies_genre_actoin[movies_genre_actoin.genres.str.contains("Action")]
movies_genre_actoin.director = movies_genre_actoin.director.str.split('|')
movies_genre_actoin = movies_genre_actoin.explode('director')
movies_genre_actoin['director'].value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [57]:
# The highest-grossing actor in 2012
answers['15'] = '15. Chris Hemsworth'
movies_2012 = data.copy()
movies_2012 = movies_2012[movies_2012['release_year']==2012]
movies_2012.cast = movies_2012.cast.str.split('|')
movies_2012 = movies_2012.explode('cast')
movies_2012.groupby(['cast'])[['revenue']].sum().sort_values(['revenue'],ascending=False).head(1)

                    revenue
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [58]:
# Actor who has starred in more high-budget films
answers['16'] = '16. Matt Damon'
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [59]:
# The genre in which Nicolas Cage starred the most
answers['17'] = '17. Action'
movies_NC = data[data.cast.str.contains("Nicolas Cage")]
genres_movies_NC_count = movies_NC.genres.apply(get_genres_count)
df_genres_movies_NC_count = pd.DataFrame({'genres': list(genres_count.keys()), 'counts': list(genres_count.values())}, columns=['genres', 'counts'])
df_genres_movies_NC_count[df_genres_movies_NC_count['counts']==df_genres_movies_NC_count['counts'].max()]

  genres  counts
7  Drama     572

# 18. Самый убыточный фильм от Paramount Pictures

In [60]:
# The most unprofitable film from Paramount Pictures
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'
data[data.production_companies.str.contains("Paramount Pictures")].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_mount
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [61]:
# Most Profitable Year for Warner Bros Studios
answers['19'] = '19. 2015'
data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'],ascending=False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [62]:
# 
answers['20'] = '20. 2014'
movies_WB = data[data.production_companies.str.contains("Warner Bros")]
movies_WB.groupby(['release_year'])[['profit']].sum().sort_values(['profit'],ascending=False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [63]:
# The month in which the most films were released in all years
answers['21'] = '21. 9'
release_mount = data.copy()
pd.DataFrame(release_mount['release_mount'].value_counts()).head(1)

   release_mount
9            227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [64]:
# The total number of films in the summer (for June, July, August)
answers['22'] = '22. 450'
len(data[(data.release_mount=='6')|(data.release_mount=='7')|(data.release_mount=='8')])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [65]:
# A director for whom winter is the most productive time of the year
answers['23'] = '23. Peter Jackson'
movies_winter = data[(data.release_mount=='1')|(data.release_mount=='11')|(data.release_mount=='12')]
pd.DataFrame(movies_winter['director'].value_counts()).head(1)

               director
Peter Jackson         8

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [66]:
# The studio that gives the longest titles to its films by the number of characters
answers['24'] = '24. Four By Two Productions'
longes_titles = data.copy()
longes_titles['longes_titles'] = longes_titles.original_title.apply(lambda x:len(x))
longes_titles.production_companies = longes_titles.production_companies.str.split('|')
longes_titles = longes_titles.explode('production_companies')
longes_titles.groupby(['production_companies'])[['longes_titles']].mean().sort_values(['longes_titles'],ascending=False).head(1)

                         longes_titles
production_companies
Four By Two Productions           83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [67]:
# Film description studio which, on average, has the longest word count
answers['25'] = '25. Midnight Picture Show'
longest_description = data.copy()
longest_description
longest_description['longest_description'] = longest_description.overview.apply(lambda x:len(x.split(' ')))
longest_description.production_companies = longest_description.production_companies.str.split('|')
longest_description = longest_description.explode('production_companies')
longest_description.groupby(['production_companies'])[['longest_description']].mean().sort_values(['longest_description'],ascending=False).head(1)

                       longest_description
production_companies
Midnight Picture Show                175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [68]:
# Films in the top 1 percent rated 
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'
best_films = data.copy()
border = best_films.quantile(0.99, numeric_only=True)['vote_average']
best_films = best_films[best_films['vote_average']>border]
best_films.groupby('original_title').vote_average.mean().sort_values(ascending=False).head(10)

original_title
The Dark Knight            8.1
Inside Out                 8.0
Interstellar               8.0
Room                       8.0
The Imitation Game         8.0
12 Years a Slave           7.9
Gone Girl                  7.9
Guardians of the Galaxy    7.9
Inception                  7.9
Memento                    7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [69]:
# Actors most often starring in the same film together
answers['27'] = '27. Daniel Radcliffe & Rupert Grint '
actors_movies = data.copy()
actors_movies.cast = actors_movies.cast.str.split('|')
actors_movies.cast = actors_movies.cast.apply(generation_steam)
df_actors_movies = pd.DataFrame(actors_movies.cast).explode('cast')
df_actors_movies.cast.value_counts().head(5)

(Rupert Grint, Emma Watson)         8
(Daniel Radcliffe, Emma Watson)     8
(Daniel Radcliffe, Rupert Grint)    8
(Emma Watson, Rupert Grint)         8
(Ben Stiller, Owen Wilson)          6
Name: cast, dtype: int64

ВАРИАНТ 2

# Submission

In [70]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint ',
 '2': '2. Gods and Generals (tt0279111)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7.The Lone Ranger (tt1210819)'}

In [71]:
# и убедиться что ни чего не пропустил)
len(answers)

27